// Breakpoints
$breakpoint-sm: 640px;

// Spaces
$action-elements-height: 2.5rem;
$input-elements-width: 284.8px;
$card-height: 110px;
$space-default: 1.6rem;

// Fonts
$font-size-default: 16px;

// Colors
$color-accent: #4797ff;
$color-text-soft: #b0b0b0;
$color-text-default: #000000;
$color-text-contrast: #ffffff;
$color-background-header: #ffffff;
$color-background-main: #f8f8f8;
$color-background-card: #ffffff;
$color-grey: #e3e3e3;
$color-completed: #24eeab;

// Border
$border-radius-default: 8px;

// Hierarchy of z-index
$z-index-header: 2;
$z-index-search-icon: 1;
